@import "tailwindcss";


:root {
  --background: #020229;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-electrolize);
}

.container {
  max-width: 1140px;
}


.special-bg{
  background: linear-gradient(180deg, #020229 0%, #040504 20%);
}